<footer id="wrapper4">
  <div>
    <ul class="icon">
      <li><a target="_blank" href="https://www.facebook.com/menyhartemese.pszichologus/"
             class="fa fa-facebook transparent" aria-hidden="true"><span>Facebook</span></a></li>
      <li><a target="_blank" href="https://pszichologuskereso.hu/pszichologus/menyhart-emese"
             class="fa fa-compass transparent" aria-hidden="true"><span>Pszichologuskereso</span></a></li>
    </ul>
  </div>
  <div id="copyright">
    <p>&copy; Abraham Menyhart. All rights reserved.</p>
  </div>
</footer>

