<div class="wrapper3">
  <div class="about-me">
    <div class="picture">
      <img class="picture-cropper"
           src="../../assets/profile.jpg"/>
    </div>
    <p class="text">
      Menyhárt Emese vagyok, az ELTE <strong>klinikai és egészségpszichológiai mesterképzésén</strong>
      diplomáztam,
      pszichológusként dolgozom a Budapesti Műszaki és Gazdaságtudományi Egyetemen.
      <strong>Autogén tréneri végzettségemet</strong> a Magyar Relaxációs és Szimbólumterápiás Egyesületnél
      szereztem, jelenleg a
      Magyar Pszichodráma Egyesületben képződöm.
      <br><br>
      Leginkább <strong>felnőttek</strong> pszichés támogatásával foglalkozom, ezen belül is fiatal felnőttekkel,
      mind egyéni, mind
      csoportos formában. Tréningeket leggyakrabban az időgazdálkodás és a halogatás témakörében tartok.
      <br><br>
      Fontos számomra a növekedés: Ahogyan egy gyümölcsfának szüksége van arra, hogy gondoskodjunk róla,
      megtrágyázzuk, megmetsszük, úgy a saját életünkben is szükség van arra, hogy megtaláljuk az optimális
      feltételeket a fejlődéshez, a megújuláshoz, a minket ért negatív hatásokkal való megbirkózáshoz.
      <br><br>
      Várom mindazokat, akik valamely problémán, elakadáson szeretnének továbblendülni, vagy egy reménytelennek
      érzett helyzetre szeretnének megoldást találni egy új perspektívából.
    </p>
  </div>
</div>
