<div class="wrapper3">
  <div class="about-me container">
    <div class="row">
      <div class="col-lg-4 text-center">
        <img class="image-cropper"
          src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/21558811_1430352490333328_2677934727552980967_n.jpg?oh=bde964bea56a411779cba1c61607bce9&oe=5AAA3267"/>
      </div>
      <div class="col-lg-8 content">
        <p>
          Menyhárt Emese vagyok, az ELTE <strong>klinikai és egészségpszichológiai mesterképzésén</strong>
          diplomáztam,
          pszichológusként dolgozom a Budapesti Műszaki és Gazdaságtudományi Egyetemen.
          <strong>Autogén tréneri végzettségemet</strong> a Magyar Relaxációs és Szimbólumterápiás Egyesületnél
          szereztem, jelenleg a
          Magyar Pszichodráma Egyesületben képződöm.
          <br><br>
          Leginkább <strong>felnőttek</strong> pszichés támogatásával foglalkozom, ezen belül is fiatal felnőttekkel,
          mind egyéni, mind
          csoportos formában. Tréningeket leggyakrabban az időgazdálkodás és a halogatás témakörében tartok.
          <br><br>
          Fontos számomra a növekedés: Ahogyan egy gyümölcsfának szüksége van arra, hogy gondoskodjunk róla,
          megtrágyázzuk, megmetsszük, úgy a saját életünkben is szükség van arra, hogy megtaláljuk az optimális
          feltételeket a fejlődéshez, a megújuláshoz, a minket ért negatív hatásokkal való megbirkózáshoz.
          <br><br>
          Várom mindazokat, akik valamely problémán, elakadáson szeretnének továbblendülni, vagy egy reménytelennek
          érzett helyzetre szeretnének megoldást találni egy új perspektívából.
        </p>
      </div>
    </div>
  </div>
</div>
