<div class="wrapper3">
  <div class="all-container">
    <div class="icon-container">
      <div class='fa fa-mobile my-icon'></div>
      <div class="my-text">06-20-773-9353</div>
    </div>

    <div class="icon-container ">
      <div class='fa fa-envelope my-icon'></div>
      <div class="my-text">emese.menyhart01@gmail.com</div>
    </div>

    <div class="icon-container ">
      <div class='fa fa-user my-icon'></div>
      <div class="my-text">Magánrendeléseimet a <a href="http://www.rozsapszichologiaikozpont.hu/" target="_blank">Rózsa
        Pszichológiai Központban</a> tartom
      </div>
    </div>

    <div class="icon-container">
      <div class='fa fa-university my-icon'></div>
      <div class="my-text">BME-s hallgatókat az egyetem keretein belül fogadok</div>
    </div>
  </div>

  <div class="map-wrapper">
    <iframe
      src="https://www.google.com/maps/embed/v1/search?key=AIzaSyD-pylLArKoKvHrrdS0ZnWBaZVfA4d0g3A&q=Rózsa pszichológiai központ">
    </iframe>
  </div>
</div>
