<div class="wrapper3">
  <div class="container">
    <div class="row">
      <div class="col-sm icon-container">
        <span class='fa fa-mobile my-icon'></span>
        <span class="my-text">06-20-773-9353</span>
      </div>

      <div class="col-sm icon-container ">
        <span class='fa fa-envelope my-icon'></span>
        <span class="my-text">emese.menyhart01@gmail.com</span>
      </div>

      <div class="col-sm icon-container ">
        <span class='fa fa-user my-icon'></span>
        <span class="my-text">Magánrendeléseimet a Rózsa Pszichológiai Központban tartom</span>
      </div>

      <div class="col-sm icon-container">
        <span class='fa fa-university my-icon'></span>
        <span class="my-text">BME-s hallgatókat az egyetem keretein belül fogadok </span>
      </div>
    </div>
  </div>

  <div class="map-wrapper ">
    <iframe
      src="https://www.google.com/maps/embed/v1/search?key=AIzaSyD-pylLArKoKvHrrdS0ZnWBaZVfA4d0g3A&q=Rózsa pszichológiai központ">
    </iframe>
  </div>
</div>
