<div id="wrapper3">
  <div class="container">
    <div class="row">
      <div class="col">col</div>
      <div class="col">col</div>
      <div class="col">col</div>
      <div class="col">col</div>
    </div>

    <div class="row">
      <div class="icon-container col">
        <span class='fa fa-mobile my-icon'></span>
        <span class="my-text">06-20-773-9353</span>
      </div>

      <div class="icon-container col">
        <span class='fa fa-envelope my-icon'></span>
        <span class="my-text">emese.menyhart01@gmail.com</span>
      </div>

      <div class="icon-container col">
        <span class='fa fa-user my-icon'></span>
        <span class="my-text">Hello World</span>
      </div>

      <div class="icon-container col">
        <span class='fa fa-university my-icon'></span>
        <span class="my-text">Hello World2</span>
      </div>
    </div>
  </div>

  <div class="map">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
      <agm-marker
        [latitude]="lat" [longitude]="lng" [title]="title">
      </agm-marker>
    </agm-map>
  </div>

</div>
