<div class="header-wrapper">
  <div class="container">
    <div class="logo">
      <span class="fa fa-envira"></span>
      <h1><a href="">Menyhárt Emese</a></h1>
      <span>pszichológus</span>
    </div>

    <nav class="menu">
      <ul>
        <li><a [routerLink]="['about-me']"
               routerLinkActive="selected">
          Bemutatkozás</a>
        </li>
        <!--<li><a [routerLink]="['blog']" routerLinkActive="selected">Blog</a></li>-->
        <li><a [routerLink]="['contact']"
               routerLinkActive="selected">
          Elérhetőség</a>
        </li>
        <!--<li><a [routerLink]=" ['send-message']" routerLinkActive="selected">Jelentkezés</a></li>
        -->
      </ul>
    </nav>
  </div>
</div>
