.message-container {
  width: 60%;
  margin: auto;
  padding-top: 3%;
  padding-bottom: 5%;

  display: flex;
  align-items: left;
  flex-direction: column;
}

.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 10%;
}

h5 {
  color: #242424;
}

button {
  align-self: center;
  justify-self: center;
  width: 20%;
  border: 0;
  background: #57b036 url(../../assets/overlay.png);
  font-weight: bold;
}
