.newsletter {
  position: relative;
  /*background: #f6f6f6;*/
  padding-top: 3%;
  padding-bottom: 5%;
  margin: auto;
  width: 80%;
}

.container {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
}

button {
  align-self: center;
  width: 20%;
  border: 0;
  background: #57b036 url(../../assets/overlay.png);
  font-weight: bold;
}
